{% extends 'base.html.twig' %}

{% block header_img %}
    {% include 'components/_header.html.twig' with {'my_title': 'app.twig.page.security.login.header_title'|trans} %}
{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2 class="mt-4">{{ 'app.twig.page.security.login.sub_title'|trans }}</h2>
    <label class="ps-1 mt-4" for="inputEmail">{{ 'app.twig.page.security.login.email_label'|trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1" autocomplete="email" required autofocus>
    <label class="ps-1 mt-4" for="inputPassword">{{ 'app.twig.page.security.login.password_label'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-1" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary my-4" type="submit">
        {{ 'app.twig.page.security.login.submit'|trans }}
    </button>
</form>
{% endblock %}
