<div class="col-12 col-lg-4 mt-4">
    <div class="card h-100 deadline-yellow">
        <div class="card-body d-flex flex-column deadline-yellow">
            <div class="card-box">
                <div class="task-card-title-box p-3">
                    <h5 class="card-title">
                        <a class="task-title" href="{{ path('task_edit', {'uuid' : task.uuid }) }}">{{ task.title }}</a>
                    </h5>
                    <h6 class="card-subtitle my-2 text-muted">
                        {% set date = null %}
                        {% if task.updatedAt is null %}
                            {{ 'app.twig.page.task.list.previous_date_added'|trans }}
                            {% set date = task.createdAt %}
                        {% endif %}
                        {% if task.updatedAt is not null %}
                            {{ 'app.twig.page.task.list.previous_date_updated'|trans }}
                            {% set date = task.updatedAt %}
                        {% endif %}
                        {{ date|format_datetime(locale=app.locale,pattern="dd MMMM YYYY, HH:mm")|capitalize }}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {{ 'app.twig.page.task.list.previous_username'|trans|capitalize }} {{ task.owner.username }}
                        {% endif %}
                    </h6>
                </div>
                <div class="flex-grow-1 card-overflow">
                    <p class="card-text text-justify align-self-center">{{ task.content|raw }}</p>
                </div>
                <div class="task-card-button-box">
                    {% if task.owner.id != 1 %}
                        <form action="{{ path('task_toggle', {'uuid' : task.uuid }) }}">
                            <button class="btn btn-primary btn-sm">
                                {% if task.isDone %}
                                    {{ 'app.twig.page.task.list.not_finished'|trans }}
                                {% endif %}
                                {% if not task.isDone %}
                                    {{ 'app.twig.page.task.list.finished'|trans }}
                                {% endif %}
                            </button>
                        </form>
                        <form action="{{ path('task_edit', {'uuid' : task.uuid }) }}">
                            <button class="btn btn-primary btn-sm ms-3">{{ 'app.twig.page.task.list.edit'|trans }}</button>
                        </form>
                    {% endif %}
                    <form action="{{ path('task_delete', {'uuid' : task.uuid }) }}">
                        <button class="btn btn-primary btn-sm ms-3">{{ 'app.twig.page.task.list.delete'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
