<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{{ path('homepage') }}"><img class="pb-1" src="{{ asset('img/logo-todo-and-co.png') }}" alt="{{ 'app.name'|trans }}" /> {{ 'app.name'|trans }}</a>
            <span class="text-white text-start">Bienvenue, {{ app.user ? app.user.email : 'visiteur'}}</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link {{ 'app_login' == app.request.attributes.get('_route') ? "active" : "" }}" aria-current="page" href="{{ path('app_login') }}">{{ 'app.twig.component.navbar.login'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'user_create' == app.request.attributes.get('_route') ? "active" : "" }}" href="{{ path('user_create') }}">{{ 'app.twig.component.navbar.signup'|trans }}</a>
                </li>
                {% endif %}
                {% if app.user and 'ROLE_ADMIN' in app.user.roles and 'user_list' != app.request.attributes.get('_route') %}
                    <a class="nav-link {{ 'user_list' == app.request.attributes.get('_route') ? "active" : "" }}" href="{{ path('user_list') }}">{{ 'app.twig.component.navbar.admin'|trans }}</a>
                {% endif %}
                {% if app.user and 'homepage' != app.request.attributes.get('_route') %}
                    <a class="nav-link" href="{{ path('homepage') }}">{{ 'app.twig.component.navbar.homepage'|trans }}</a>
                {% endif %}
                {% if app.user and ('task_list_todo' == app.request.attributes.get('_route') or 'task_create' == app.request.attributes.get('_route')) %}
                    <a class="nav-link" href="{{ path('task_list_finished') }}">{{ 'app.twig.component.navbar.tasks_do'|trans }}</a>
                {% endif %}
                {% if app.user and ('task_list_finished' == app.request.attributes.get('_route') or 'task_create' == app.request.attributes.get('_route')) %}
                    <a class="nav-link" href="{{ path('task_list_todo') }}">{{ 'app.twig.component.navbar.tasks_todo'|trans }}</a>
                {% endif %}
                {% if app.user and ('task_list_todo' == app.request.attributes.get('_route') or 'task_list_finished' == app.request.attributes.get('_route')) %}
                    <a class="nav-link" href="{{ path('task_create') }}">{{ 'app.twig.component.navbar.create_task'|trans }}</a>
                {% endif %}
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">{{ 'app.twig.component.navbar.logout'|trans }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
