{% extends 'base.html.twig' %}
{% block title %}{{ 'app.twig.page.user.create.sub_title'|trans }}{% endblock %}
{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <h2 class="mt-5 text-uppercase fw-bold">{{ 'app.twig.page.user.create.sub_title'|trans }}</h2>
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-5 mb-4">{{ 'app.twig.page.user.create.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
